<p>Thanks {{firstName}}!</p>
<p>You're now on the list and should receive a confirmation email soon.</p>
<p>Now could you do us a huge favor and give us some social media love?</p>
<div id="social-junk">
  <a href="https://twitter.com/share?text=Tell%20your%20story%20with%20www.novl.co" class="popup twitter"></a>
  <a href="https://www.facebook.com/sharer/sharer.php?u=http://novl.co/soon" class="popup facebook"></a>
  <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Flocalhost%3A3000&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=true&amp;font&amp;colorscheme=dark&amp;action=like&amp;height=80&amp;appId=168422459989944" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:350px; height:80px;" allowTransparency="true"></iframe>
</div>
